.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.modal-body {
    position: relative;
    padding: 2rem;
    background-color: #fff;
    width: 100%;
    max-width: 400px;
    min-height: 200px;
}

.modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
}